[credential]
	helper = store
[alias]
	co = "!f() { git branch -a | fzf-tmux -p --reverse | awk '{gsub(\"remotes/origin/\", \"\", $1); print $1}' | xargs git checkout; }; f"
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; }; f"
	gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
	ll = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
        root = rev-parse --show-toplevel
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[add.interactive]
	useBuiltin = false
[delta]
	navigate = true
	light = false
	side-by-side = false
	minus-style                   = syntax "#26181C"
	minus-non-emph-style          = syntax "#26181C"
	minus-emph-style              = syntax "#7B2F2E"
	minus-empty-line-marker-style = syntax "#26181C"
	line-numbers-minus-style      = "#914c54"
	plus-style                    = syntax "#14261F"
	plus-non-emph-style           = syntax "#14261F"
	plus-emph-style               = syntax "#1F572D"
	plus-empty-line-marker-style  = syntax "#14261F"
	line-numbers-plus-style       = "#449dab"
	line-numbers-zero-style       = "#3b4261"
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
