window {
  font-family: SF Pro;
  font-weight: lighter;
  font-size: 16px;
  border: 1px solid #313244;
  background-color: transparent;
  border-radius: 12px;
}

#outer-box {
  border: 1px solid #313244;
  border-radius: 12px;
  background-color: #11111b;
}

#input {
  padding: 12px 24px;
  color: #cdd6f4;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #313244;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  background-color: #11111b;
  outline: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

#inner-box {
  margin: 8px;
  color: #cdd6f4;
  font-weight: bold;
  background-color: #11111b;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#scroll {
  border: none;
  border-radius: 0px;
}

#img {
  margin-right: 6px;
  object-fit: contain;
}

#img:selected {
  outline: none;
  box-shadow: none;
}

#text:selected {
  outline: none;
  box-shadow: none;
  color: #cdd6f4;
  border: none;
  border-radius: 0px;
  background-color: #1e1e2e;
}

#entry {
  padding: 12px;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 12px;
  background-color: transparent;
}

#entry:selected {
  border-radius: 6px;
  background-color: #1e1e2e;
}
