@define-color selected-text #89b4fa;
@define-color text #cdd6f4;
@define-color base #000000;
@define-color border #45475a;
@define-color foreground #cdd6f4;
@define-color background #000000;

* {
  all: unset;
}

* {
  font-family: "FiraCode Nerd Font";
  font-size: 16px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(@base, 0.95);
  padding: 16px;
  border: 1px solid @border;
  border-radius: 8px;
}

.search-container {
  background: @base;
  padding: 8px;
}

.input placeholder {
  opacity: 0.5;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

child:selected .item-box * {
  color: @selected-text;
}

.item-box {
  padding-left: 12px;
}

.item-text-box {
  all: unset;
  padding: 10px 0;
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 12px;
  -gtk-icon-transform: scale(0.9);
}

.keybind-hints {
  background: @background;
  padding: 8px;
  margin-top: 8px;
}
