@import "mocha.css";

* {
  border: none;
  border-radius: 6px;
  min-height: 0;
  font-family: "FiraCode Nerd Font";
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

window#waybar {
  background: transparent;
  border-radius: 0px;
}

tooltip {
  background-color: @base;
  border: 1px solid @overlay1;
  color: @text;
}

#clock,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  margin: 6px 6px 2px 0px;
  padding: 2px 8px;
}

#tray {
  background-color: @base;
  border: 1px solid @surface1;
  color: @text;
  margin: 6px 0px 2px 6px;
  padding: 2px 4px;
}

#workspaces {
  background: transparent;
  border: none;
  margin: 6px 0px 2px 6px;
  padding: 0;
}

#workspaces button {
  all: initial;
  color: @text;
  background-color: @base;
  border: 1px solid @surface1;
  padding: 2px 8px;
  border-radius: 6px;
}

#workspaces button:not(:first-child) {
  margin-left: 2px;
}

#workspaces button.active {
  background-color: @base;
  border-color: @blue;
  color: @text;
}

#workspaces button.urgent {
  background-color: @overlay1;
  color: @text;
  border-color: @red;
}

#cpu.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
  color: @yellow;
}

.custom-spotify {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
}

#custom-tailscale {
  padding-right: 6px;
  margin: 6px 6px 2px 0px;
}

#custom-tunnelbear {
  padding-right: 6px;
  margin: 6px 6px 2px 0px;
}

#custom-mouse-battery {
  margin: 6px 6px 2px 0px;
  padding: 2px 8px;
}

#image {
  /* background-color: @base; */
  padding-right: 6px;
  padding-left: 4px;
  margin: 6px 0px 2px 0px;
}
