@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "FiraCode Nerd Font";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.9);
    border: 2px solid @surface0;
}

tooltip {
    background-color: @base;
    border: 2px solid @overlay1;
    color: @text;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    background-color: @surface0;
    border: 2px solid @surface1;
    color: @text;
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: @surface0;
    border: 2px solid @surface1;
    margin: 6px 0px 6px 6px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: @text;
}

#workspaces button.focused {
    background-color: @surface1;
    color: @text;
}

#workspaces button.urgent {
    background-color: @overlay1;
    color: @text;
}

#cpu.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: @overlay1;
    border: 2px solid @surface1;
    color: @red;
}
