[user]
	email = princejoogie@gmail.com
	name = princejoogie
[credential]
	helper = store
[alias]
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\";};f"
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false
[delta]
  navigate = true
  light = false
  side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[push]
	autoSetupRemote = true
